<div id="main-container" class="container" style="text-align: left">
<h2>Settings</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>



<% if current_user.role == "premium" %>

<h4>Second thoughts on premium services?</h4>
  <%= button_to "Downgrade my account", charges_downgrade_path, data: { confirm: "Are you sure you want to downgrade your account?"}, method: :put %>
<% else %>
<h4>Ready for premium features?</h4>
      
      <%= form_tag charges_path do %>
      <article>
      <label class="amount">
      <span>Subscription: $15.00</span>
      </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
      <% end %>
<% end %>

<h4>Unhappy with our services?</h4>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "We hate to see you leave. Are you sure?" }, method: :delete %>

<%= link_to "Back", :back %>
