<%= form_for wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter Wiki title" %>
  </div>
  <div class="form-group">
     <%= f.label :body %>
     <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter text" %>
  </div>
  <% if current_user.role == 'admin' || current_user.role == 'premium' %>
      <div class="form-group">
        <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>

<% if !wiki.id.nil? && wiki.user == current_user && current_user.role == 'premium' %>
  <%= form_for [wiki, Collaboration.new] do |f| %>
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, placeholder: "Enter User email" %> 
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<% if wiki.users.count > 0 %>
<h2>Collaborations</h2>
<%= render partial: "collaborator", collection: wiki.collaborations, locals: {wiki: wiki} %>
<% end %>