<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
</head>

<body>
  <ul class="nav nav-tabs">
    <div class ="container">
      <div class="pull-left user-info">
        <% if current_user %>
        <button class="btn btn-link" id="stripeUpgrade"
          data-key=<%= @stripe_btn_data[:key]%>
          data-amount=<%= @stripe_btn_data[:amount]%>
          data-description=<%= @stripe_btn_data[:description]%>
          >Upgrade Account </button>
        <% end %>
      </div>

      


      <div class="pull-right user-info">
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </ul>

  <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>

<%= yield %>
<script type="text/javascript">
  $(document).ready(function(){
      $('#stripeUpgrade').on('click', function(e){
        e.preventDefault();

        var $button = $(this),
        $form = $button.parents('form');

        var opts = $.extend({}, $button.data(), {
          token: function(res){
            $form.append($('#stripeUpgrade').attr({type: 'hidden', name: 'stripeToken', value: res.id})).submit();
          }
        });
        StripeCheckout.open(opts);
      });
  });
  </script>

</body>
</html>
